<!-- spot-details.hbs -->

<h1>{{spot.title}}</h1>
<p>Country: {{spot.country}}</p>
<p>Continent: {{spot.continent}}</p>
<p>Description: {{spot.description}}</p>
<img src="{{spot.imageUrl}}" alt="">

<!-- Display spot reviews -->
<h3>Reviews:</h3>
{{#if spot.reviews.length}}
  {{#each spot.reviews}}
    <div>
      <p>By {{author.username}}:</p>
      <p>{{content}}</p>
    </div>
  {{/each}}
{{else}}
  <p>No reviews available.</p>
{{/if}}

<!-- Review Form -->
<h3>Add a Review:</h3>
<form action="/nature-spots/review" method="post">
  <input type="hidden" name="spotId" value="{{spot._id}}" />
  <label for="content">Content:</label>
  <textarea name="content" id="content" cols="30" rows="5"></textarea>
  <button type="submit">Submit</button>
</form>

<!-- Back button -->
<a href="/nature-spots">Back</a>