<div class="favorites-container">
  <h1>My Favorites</h1>

  {{#each favorites}}
    <div class="favorite-box">
      <h3>{{title}}</h3>
      <p>Country: {{country}}</p>
      <p>Continent: {{continent}}</p>
      <p>Description: {{description}}</p>
      <img src="{{imageUrl}}" alt="" />

      <form action="/favorites/{{_id}}/delete" method="post">
        <button type="submit" class="remove-button">Remove from Favorites</button>
      </form>
    </div>
  {{else}}
    <p>No favorites yet.</p>
  {{/each}}
</div>


<a href="/nature-spots" class="back-button">Back</a>